Dashboard/flows.json
[
    {
        "id": "2716398707a7fdcf",
        "type": "tab",
        "label": "Flux 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a80c4f3ef81d700b",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e44cb40b57f142fe",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "ff50cda6c3d67008",
        "type": "ui_group",
        "name": "our dashboard",
        "tab": "a80c4f3ef81d700b",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "6bbfe11c82932407",
        "type": "mqtt-broker",
        "name": "broker.hivemq.com:1883",
        "broker": "broker.hivemq.com:1883",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "53948d9ce303a739",
        "type": "ui_gauge",
        "z": "2716398707a7fdcf",
        "name": "",
        "group": "ff50cda6c3d67008",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "tamperature gauge",
        "label": "°C",
        "format": "{{value}}",
        "min": "-20",
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 40,
        "wires": []
    },
    {
        "id": "aca70f74a6259826",
        "type": "ui_gauge",
        "z": "2716398707a7fdcf",
        "name": "",
        "group": "ff50cda6c3d67008",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "humidité gauge",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 560,
        "y": 80,
        "wires": []
    },
    {
        "id": "1f68b2f098d32f01",
        "type": "ui_chart",
        "z": "2716398707a7fdcf",
        "name": "",
        "group": "ff50cda6c3d67008",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "temperature chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 550,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "e032900a1f795f7a",
        "type": "ui_chart",
        "z": "2716398707a7fdcf",
        "name": "",
        "group": "ff50cda6c3d67008",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "humidité chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 560,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "c2387da7503f901e",
        "type": "ui_button",
        "z": "2716398707a7fdcf",
        "name": "",
        "group": "ff50cda6c3d67008",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "temperature logs",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 550,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "ad589583f1b5391a",
        "type": "ui_button",
        "z": "2716398707a7fdcf",
        "name": "",
        "group": "ff50cda6c3d67008",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "humidité logs",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 570,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "4c9916fa316bb375",
        "type": "ui_switch",
        "z": "2716398707a7fdcf",
        "name": "",
        "label": "LED",
        "tooltip": "",
        "group": "ff50cda6c3d67008",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 590,
        "y": 320,
        "wires": [
            [
                "beb1aa06bbd64ec4"
            ]
        ]
    },
    {
        "id": "102d91f161380c36",
        "type": "ui_slider",
        "z": "2716398707a7fdcf",
        "name": "",
        "label": "Servo",
        "tooltip": "",
        "group": "ff50cda6c3d67008",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "180",
        "step": 1,
        "className": "",
        "x": 590,
        "y": 380,
        "wires": [
            [
                "a1cac1cfe1f20487"
            ]
        ]
    },
    {
        "id": "eac3e9ce8ddbbe57",
        "type": "ui_colour_picker",
        "z": "2716398707a7fdcf",
        "name": "",
        "label": "neo pixel color picker",
        "group": "ff50cda6c3d67008",
        "format": "rgb",
        "outformat": "string",
        "showSwatch": false,
        "showPicker": true,
        "showValue": false,
        "showHue": true,
        "showAlpha": false,
        "showLightness": false,
        "square": "false",
        "dynOutput": "false",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 440,
        "y": 440,
        "wires": [
            [
                "93b8e7fc8de1fddc"
            ]
        ]
    },
    {
        "id": "beb1aa06bbd64ec4",
        "type": "mqtt out",
        "z": "2716398707a7fdcf",
        "name": "",
        "topic": "lights",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6bbfe11c82932407",
        "x": 950,
        "y": 320,
        "wires": []
    },
    {
        "id": "a1cac1cfe1f20487",
        "type": "mqtt out",
        "z": "2716398707a7fdcf",
        "name": "",
        "topic": "servo",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6bbfe11c82932407",
        "x": 950,
        "y": 380,
        "wires": []
    },
    {
        "id": "298750957de40667",
        "type": "mqtt out",
        "z": "2716398707a7fdcf",
        "name": "",
        "topic": "lights/neopixel",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6bbfe11c82932407",
        "x": 920,
        "y": 440,
        "wires": []
    },
    {
        "id": "93b8e7fc8de1fddc",
        "type": "function",
        "z": "2716398707a7fdcf",
        "name": "parse rgb values",
        "func": "msg.payload = msg.payload.replace(\"rgb(\", \"\").replace(\")\", \"\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 440,
        "wires": [
            [
                "298750957de40667"
            ]
        ]
    },
    {
        "id": "1387ce6ece62aae3",
        "type": "mqtt in",
        "z": "2716398707a7fdcf",
        "name": "",
        "topic": "Tempdata",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "6bbfe11c82932407",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 80,
        "y": 140,
        "wires": [
            [
                "351d2887f0b45b77",
                "f952a23f4e385bc8",
                "98543fb3060fb042"
            ]
        ]
    },
    {
        "id": "351d2887f0b45b77",
        "type": "function",
        "z": "2716398707a7fdcf",
        "name": "extract temperature",
        "func": "var input = String(msg.payload); // Assuming the input is in msg.payload\n\n// Remove any leading or trailing whitespace\ninput = input.trim();\n\n// Split the input string using commas as the delimiter\nvar values = input.split(',');\n\n// Remove leading and trailing whitespace from each value and convert to float\nvalues = values.map(function (value) {\n    return parseFloat(value.trim());\n});\n\nmsg.payload = values[0]; // Set the output payload to the array of float values\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 60,
        "wires": [
            [
                "53948d9ce303a739",
                "1f68b2f098d32f01"
            ]
        ]
    },
    {
        "id": "f952a23f4e385bc8",
        "type": "function",
        "z": "2716398707a7fdcf",
        "name": "extract humidité",
        "func": "var input = String(msg.payload); // Assuming the input is in msg.payload\n\n// Remove any leading or trailing whitespace\ninput = input.trim(); \n\n// Split the input string using commas as the delimiter\nvar values = input.split(',');\n\n// Remove leading and trailing whitespace from each value and convert to float\nvalues = values.map(function (value) {\n    return parseFloat(value.trim());\n});\n\nmsg.payload = values[1]; // Set the output payload to the array of float values\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 140,
        "wires": [
            [
                "aca70f74a6259826",
                "e032900a1f795f7a"
            ]
        ]
    },
    {
        "id": "666e7f63f62148c7",
        "type": "file",
        "z": "2716398707a7fdcf",
        "name": "",
        "filename": "C:\\logIOT.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 570,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "98543fb3060fb042",
        "type": "function",
        "z": "2716398707a7fdcf",
        "name": "add timestamp",
        "func": "var timestamp = new Date().toISOString(); // Get the current timestamp in ISO 8601 format\nvar value = msg.payload; // Get the input value\n\n// Create the output message\nmsg.payload = timestamp + \", \" + value;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 280,
        "wires": [
            [
                "666e7f63f62148c7"
            ]
        ]
    }
]